@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

h1 {
  font-family: 'Figtree', sans-serif;
  /* font-size: 2rem; */
}





body {
  font-family: 'Inter', sans-serif;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label{
  color: gray !important;
  margin-bottom: 5px;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable-area, #printable-area * {
    visibility: visible;
  }

  #printable-area {
    /* position: absolute; */
    left: 0;
    margin-top: 0;
    width: 100%;
  }
}

/* Add this CSS to your global styles file (e.g., styles.css, globals.css) or within a <style jsx global> block in your component if you are using styled-jsx */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px; /* Adjust size as needed, slightly smaller than lds-ring */
  height: 32px; /* Adjust size as needed, slightly smaller than lds-ring */
  margin: 4px; /* Adjust to center the rings */
  border: 4px solid #9CA3AF; /* Gray-400 color from Tailwind, adjust color as needed */
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0.05, 0.5, 0.95) infinite;
  border-color: #9CA3AF transparent transparent transparent; /* Gray-400 color */
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
